  <a href="#" class="nav-link" (click)="onLogout()">Logout </a>
  <td *ngIf="isEditor == true;">
    Administrador: {{isEditor}}
    <p>Para aprobar a una persona el campo NORMAL su estatus debe de ser</p>
    <p>FALSE, si el estatus se encuentra en TRUE es una persona normal</p>
    <section class="row mt-5">
      <div class="col">
        <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook">Nuevo Usuario</button>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Normal</th>
              <th scope="col">Talento</th>
              <th scope="col">Casting</th>



              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of Users; index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{user.name}}</td>
              <td>{{user.ciudad}}</td>
              <td>{{user.roles.normal}}</td>
              <td>{{user.roles.editor}}</td>
               <td>
                <iframe width="300" height="100%" frameBorder="0" [src]="sanitizer.bypassSecurityTrustResourceUrl(user.solicitud)" allowfullscreen></iframe>
              </td>
              <td><button class="btn btn-primary" data-toggle="modal" data-target="#modalBook" (click)="updateSoli(user)">Aprobar</button></td>
              <!-- <td><h4 routerLink="/solicitud" class="card-title">{{user.id}}</h4></td> -->



            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <button class="btn btn-danger" >Admin</button>
  </td>
Normal: {{isAdmin}}
<div *ngIf="isAdmin == true; else noAdmin">
<p >Hola Normal</p>
<div *ngFor = "let posts of post; index as i">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{posts.usuario}} </h5>
      <p class="card-text">{{posts.descripcion}}</p>
    </div>
  </div>
  <br>
</div>
</div>

<ng-template #noAdmin>

  <p  >Bienvenido Talento</p>
  Nueva publicación.
<!-- <a href="/publicacion">Publicar</a> -->
<button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalPost">Publicar</button>

<div class="container">


</div>


</ng-template>


<app-publicacion></app-publicacion>
