


#frase h1{

  margin: 200px 0 -10px 0;
font-weight: 600;
line-height: 48px;
text-transform: uppercase;
color: black;
}
#frase h3{
  font-weight: 400;
  line-height: 48px;
  color: black;
margin-bottom: 50px;
}
#color{
  background:rgba(0, 0  , 0, .5) ;
  font-weight: 400;
}



#frase h3 {
  color: black;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #frase h3 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #frase h3 .rotating {
    display: block;
  }
}
#frase .rotating > .animated {
  display: inline-block;
}
#frase .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}
#frase .actions{
  margin-left: 400px;
}

#frase .btn-registro {
  background: #cdb56b ;
  border: 2px solid #cdb56b ;
  color: #fff;
}

#frase .btn-registro:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#frase .btn-inicio {
  border: 2px solid #fff;
  color: #fff;
}

#frase .btn-inicio:hover {
  background: #cdb56b;
  border: 2px solid #cdb56b;
}



