

<div class="modal fade" id="modalPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva publicacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formPost="ngForm" >
          <div class="form-group">
            <label for="descripcion" class="col-form-label">Descipcion:</label>
            <input type="text" class="form-control" name="descripcion" [(ngModel)]="descripcion">
          </div>
          <div class="form-group">
            <label for="foto" class="col-form-label">Foto:</label>
            <input type="file" class="form-control" name="foto" (change)="onUpload($event)">

          </div>
          <input #videoUser type="hidden" [value]="urlVideo | async">

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" (click)="publicar()">Publicar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
