<div class="image">
  <div class="container">
    <div class="row align-item-center">
      <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="margin-left: 35%;margin-top: 225px;">
        <form #formLogin="ngForm" (submit)="onLogin()"  >
          <div>
            <img src="../../../assets/img/logo/logo-registro.png" alt="" style="width: 150px; margin-left: 25%;">
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            Something is wrong!
          </div>
          <div class="col-md-12 form-group">
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required>
          </div>
          <div class="col-md-12 form-group">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="password"
              required>
          </div>
          <button type="submit" class="btn btn-lg btn-block color">Login</button>

            <a routerLink="/register" class="form-control login-user">Aún no tienes una cuenta?</a>

        </form>

      </div>
    </div>
  </div>

</div>

