.color{
  background: #cdb56b;
}
.image{
  background-image: url('../../../assets/img/gallery/gallery9.jpg');
  width: 100%;
  height: 598px;
  background-size: cover;
 }
 .login-user{
  text-align: center;
 }
