


<div class="image">
  <div class="container">
    <div class="row align-item-center">
      <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" style="margin-left: 35%;margin-top: 80px;">
        <form class="row login_form">
          <div>
            <img src="../../../assets/img/logo/logo-registro.png" alt="" style="width: 150px; margin-left: 65%;">
          </div>
          <!-- <h1 class="h3 mb-3 font-weight-normal">Register</h1> -->
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            <!-- {{msgError}} -->
          </div>

          <div class="col-md-12 form-group">
            <input type="email"  name="email" class="form-control" placeholder="Nombre" [(ngModel)]="nombre" required
             >
          </div>

          <div class="col-md-12 form-group">
            <input type="text"  name="email" class="form-control" placeholder="ciudad / estado" [(ngModel)]="ciudad" required
              minlength="17">
          </div>
            <!--
          <div class="col-md-12 form-group">
            <input type="email"  name="email" class="form-control" placeholder="Número telefono" [(ngModel)]="telefono" required
              minlength="8">
          </div> -->
          <div class="col-md-12 form-group">
            <input type="email"  name="email" class="form-control" placeholder="Correo" [(ngModel)]="email" required
              minlength="8">
          </div>

          <div class="col-md-12 form-group">
            <input type="password" name="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password"
              required minlength="5" maxlength="10">
          </div>

          <div class="col-md-12  form-group">
            <input type="password" name="password" class="form-control" placeholder="Confirmar contraseña" [(ngModel)]="confirmpassword"
              required minlength="5" maxlength="10">


          </div>
          <div class="col-md-12 form-group">
            <label for="">Registrarme como</label>
            <select type="text" name="password" class="form-control" placeholder="Confirmar contraseña" [(ngModel)]="tipoUsuario"
              required minlength="5" maxlength="10">
              <option>Talento</option>
              <option>Normal</option>

              </select>
          </div>
          <button type="submit" class="btn btn-lg btn-block color" (click)="onAddUser()">REGISTRARME</button>
            <a routerLink="/" class="form-control login-user">Ya tienes una cuenta?</a>

        </form>

      </div>
    </div>
  </div>

</div>

