<!-- <p>home works!</p> -->
<div class="container" style="text-align: center;">
  <h3>Bienvenido Talento</h3>
  <p>Antes de poder adquirir permiso para acceder a las funcionalidades completamente,</p>
  <p>por favor te pedimos que realices el casting, en caso de ser aceptado se le notificará</p>

  <h4 routerLink="/solicitud/{{Users}}" class="card-title">{{Users}}</h4>
</div>
