<div style="text-align: center;">
  <h1 >Bienvenido a Talento en America</h1>
  <p>Antes de comenzar a disfrutar de las funcionalidades que tenemos para ti</p>
  <p>Primero tenemos que evaluar tu talento, por ello te pedimos que adjuntes el video</p>
  <p>En cuanto tu video sea revisado podrás difrutar!!</p>


</div>




<div class="col-md-12 form-group">
  <input type="file"  name="video" accept=".mp4" class="form-control" placeholder="Ingresa la URL del video" (change)="onUpload($event)" [(ngModel)]="url" required
    minlength="8">
</div>
<div class="progress">
  <div   class="progress-bar progress-bar-striped bg-success" role="progressbar"
  [style.widt]="(uploadPercent | async) + '%'">

  </div>
</div>

<br>
<input #videoUser type="hidden" [value]="urlVideo | async">
<button (click)="updateSoli()" *ngIf="urlVideo | async; else btnDisable" class="btn btn-primary btn-lg">Enviar</button>
<p>El tiempo de activación del botón dependerá del peso del video</p>
<p>Le pedimos por favor espere hasta que el botón cambie de color</p>

<ng-template #btnDisable>
<button disabled="true" class="btn btn-secondary btn-lg">Enviar</button>

</ng-template>
